*.pyc
/__pycache__
node_modules/
package-lock.json
.vs/slnx.sqlite
.idea/workspace.xml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/encodings.xml
.idea/cs467-project.iml
.vs/cs467-project/config/applicationhost.config
.vs/cs467-project/v16/.suo
.vs/ProjectSettings.json
.vs/VSWorkspaceState.json
.DS_Store
validateTree.py
.vs/PythonSettings.json
#sessions/*.json
.idea/$PRODUCT_WORKSPACE_FILE$
sessions/f41036ec-78a5-4549-a7a8-f41c1f4a95d5.json
sessions/1aaf23d1-6067-4b17-9522-5f3cd8d77369.json
