<!DOCTYPE html>
<html class="h-100">

<head>
        <title>GCrawler</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
                integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
                crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"
                integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>
        {{!-- <link rel="stylesheet" href="/static/main.css"> --}}
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
                integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
                crossorigin="anonymous">
        {{#each jsscripts}}
        <script src="/static/{{this}}"></script>
        {{/each}}

        {{#each styles}}
        <link rel="stylesheet" href="/static/{{this}}">
        {{/each}}
</head>

<body class="h-100">
        <nav class="navbar navbar-expand-lg navbar-light nav-fill" style="background-color: #24305E;">
                <a class="navbar-brand" id="logo" href="/">Graphic Crawler</a>
                <div class="navbar-nav mx-auto" id="nav-tabs">
                        <div class="navbar-nac px-4">
                                <a class="nav-item nav-link text-light" href="\search">Search</a>
                        </div>
                        <div class="navbar-nac px-4">
                                <a class="nav-item nav-link text-light px-2" href="\history">History</a>
                        </div>
                </div>
        </nav>

       
        <div class="container-fluid h-100">
                {{{body}}}
        </div>


</body>

</html>