<h1> Results for your {{this.search_type}} search</h1>
<h1>Your tree: </h1>
<div id="body" style="height: 500px !important;width: 960px !important;border:2px solid #000;overflow: scroll !important;">

</div>

<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="treeDisplay.js"></script>
<script>
    var treeData = {{{this.tree}}};
    var moreInfo = Object.keys(treeData)[0];
    passTree(treeData);
</script>