<h1> Results for your {{this.search_type}} search</h1>
<h1>Your tree: </h1>
<div id="body">

</div>

<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="treeDisplay.js"></script>
{{{this.tree}}}

<div>
    {{{this.error}}}
</div>