<h1> Results for your {{this.search_type}} search</h1>
<h1>Your tree:</h1>
<ul>
    {{#each this.treeArray}}
    <li>
        {{#each this}}
        [{{this.link}}]
        {{/each}}
    </li>
    {{/each}}
</ul>