
/*source: https://www.w3schools.com/howto/howto_css_tooltip.asp*/
/* Tooltip container */
.instructions {
  position: relative;
  float: right;
  display: inline-block;
}

/* Tooltip text */
.instructions .instructtext {
  visibility: hidden;
  width: 500px;
  background-color: #555;
  color: #fff;
  text-align: left;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  top: 5px;
  right: 105%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}


/* Show the tooltip text when you mouse over the tooltip container */
.instructions:hover .instructtext {
  visibility: visible;
  opacity: 1;
}